@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-black.eot');
  src: url('../fonts/bwmodelica-black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-black.woff2') format('woff2'),
       url('../fonts/bwmodelica-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-blackitalic.eot');
  src: url('../fonts/bwmodelica-blackitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-blackitalic.woff2') format('woff2'),
       url('../fonts/bwmodelica-blackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-bold.eot');
  src: url('../fonts/bwmodelica-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-bold.woff2') format('woff2'),
       url('../fonts/bwmodelica-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-bolditalic.eot');
  src: url('../fonts/bwmodelica-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-bolditalic.woff2') format('woff2'),
       url('../fonts/bwmodelica-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-regular.eot');
  src: url('../fonts/bwmodelica-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-regular.woff2') format('woff2'),
       url('../fonts/bwmodelica-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Bw Modelica';
  src: url('../fonts/bwmodelica-regularitalic.eot');
  src: url('../fonts/bwmodelica-regularitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bwmodelica-regularitalic.woff2') format('woff2'),
       url('../fonts/bwmodelica-regularitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}