body {
  @include breakpoint(large) {
    background-attachment: fixed;
    background-position: -6.5vw bottom;
    background-repeat: no-repeat;
    background-image: url('../img/raster.svg');
    background-size: 25vw;
  }
}

#program, #plakatok, #videok {
  background-color: rgba($white,1);
}

.top-bar {
  width:100%;
  //height:inherit;
  //margin: 2.5rem 0;
  padding:1rem 0 1rem;
  @include breakpoint(tablet) {
    padding: 3.5rem 0 3.5rem 0;
  }

  &.is-stuck {
    border-bottom:1px solid $light-gray;
    box-shadow: 0 0 1rem 0 rgba(#000,.1);
    padding:.5rem 0;
  }



}

.top-bar__logo {
  width:8rem;
  margin-top: .333rem;
  //display: none;
  .is-stuck & {
    //display: inline-block;
  }
}

.top-bar__info {
  display: block;
  color:$body-font-color;
  font-style: normal;
  font-weight: $global-weight-black;
  //position: absolute;
  margin-bottom: 1rem;
  // .is-stuck & {
  //   display: none;
  // }
}

.top-bar-title {
  float:none;
  @include breakpoint(medium) {
    float:left !important;
  }
}
.csiki {
  float:right;
  margin-top: .5rem;
}


.menu > li {
  display: block;
  float:left;
  font-size: .75rem;
  @include breakpoint(tablet) {
    float:none;
    font-size: 1rem;
    display: table-cell;
    vertical-align: middle;
  }
  > a {

  }
}

main[role="main"] {
  //background-color: red;
 // position: relative;
 // z-index: -1;
  margin-top: 3rem;



  @include breakpoint(tablet) {
      margin-top:0;
  }


}
.ps {
  @include clearfix();
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  //border-bottom: 1px solid $light-gray;
  @include breakpoint(tablet) {
    padding:0;




  }
}

.ps__inner {
  //margin:4rem 0;
  @include breakpoint(tablet) {
    margin:32vh 0 18vh;
    min-height: 50vh;

  }

}

.ps__inner--notopmargin {
  @include breakpoint(tablet) {
    margin:18vh 0 18vh;
  }
}
.ps__inner--nulltopmargin {
  margin-top:-6rem;
  @include breakpoint(tablet) {
    margin:0 0 18vh;
  }

}


