.top-bar {
  width:100%;
  //height:inherit;
  //margin: 2.5rem 0;
  padding:1rem 0 1rem;
  @include breakpoint(tablet) {
    padding: 3.5rem 0 3.5rem 0;
  }

  &.is-stuck {
    border-bottom:1px solid $light-gray;
    box-shadow: 0 0 1rem 0 rgba(#000,.1);
    padding:.5rem 0;
  }



}

.top-bar__logo {
  width:8rem;
  margin-top: .333rem;
  //display: none;
  .is-stuck & {
    //display: inline-block;
  }
}

.top-bar__info {
  display: block;
  color:$body-font-color;
  font-style: normal;
  font-weight: $global-weight-black;
  position: absolute;
  margin-top: 3rem;
  .is-stuck & {
    display: none;
  }
}

main[role="main"] {
  //background-color: red;
 // position: relative;
 // z-index: -1;
  margin-top: 3rem;

  @include breakpoint(tablet) {
      margin-top:0;
  }
}
.ps {
  @include clearfix();
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid $light-gray;
  @include breakpoint(tablet) {
    padding:0;
  }
}

.ps__inner {
  //margin:4rem 0;
  @include breakpoint(tablet) {
    margin:32vh 0 18vh;
    min-height: 50vh;
    // position: absolute;
    // left:0;
    // width:100%;
    // top: 50%;
    // transform:translateY(-50%);
  }

}

.ps__inner--notopmargin {
  @include breakpoint(tablet) {
    margin:18vh 0 18vh;
  }
}