<div data-sticky-container>
  <div class="top-bar" data-sticky data-sticky-on="small" data-margin-top="0" data-top-anchor="main">
    <div class="row" data-magellan>
      <div class="columns">
        <div class="top-bar-title">
          <a href="#top">
            <img class="top-bar__logo" src="assets/img/nami2017.svg" alt="nami 2017">
            <span class="top-bar__info ">
              2017.07.13-18.<br>Budapest<br>Bālna
            </span>
          </a>
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-right" >
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a href="#program">program</a></li>
              <li><a href="#jegyek">jegyek</a></li>
              <li><a href="#elerhetoseg">elérhetőség</a></li>
              <li><a href="#kampany">kampány</a>
                <ul class="menu vertical">
                  <li><a href="#videok">videók</a></li>
                  <li><a href="#plakatok">plakatok</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>